*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.div-right{
    margin-bottom: 30px;
}
.div-body-shop{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding-left: 120px;
    padding-right: 100px;
}
.search-div{
    box-sizing: border-box;
    width: 60%;
}
.shop-container{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.checked {
    color: orange;
  }
.card:hover .card-img-top{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    transform: scale(1.2);
    transition: 0.5s;
  }
  .img-div{
    overflow: hidden;
  }
  .card-foot{
    position: relative;
    top: 6px;
    left: 6px;
    background-color: #f3f3f4;
    text-align: center;
  }
  .div-add{
    display: flex;
  }
  .btn{
    border-radius: 0;
    margin-right: 6px;
  }
  .card-foot-icon{
    display: flex;
    list-style: none;
    
  }
  .card-foot-icon li{
    width: 40px;
    height: 39px;
    position: relative;
    top: 5px;
    background-color: #f3f3f4;
    margin-left: 5px;
  }

