@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-top {
  width: 100%;
  height: 50px;
  color: #808080;
  background-color: #0c1529;
  padding-top: 10px;
  padding-bottom: 10px;
}

.outer-box {
  width: 100%;
  text-align: center;
}
.social-link ul {
  list-style: none;
  display: flex;
  margin-bottom: 0px;
}
.social-link i:hover {
  color: rgb(218, 60, 34);
  transition: 0.7s;
}
.social-link {
  padding-left: 20px;
  display: flex;
}
.title h3 {
  width: 100px;
  font-size: 15px;
  margin-bottom: 0px;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 28px;
}
.header-top-left {
  height: 28px;
  display: flex;
  width: 240px;
  position: relative;
}
.header-socials {
  height: 28px;
  display: flex;
}
.title {
  height: 28px;
  display: flex;
  align-items: center;
}
.social-link a {
  background-color: transparent;
  color: rgb(255, 255, 255);
}
.social-link ul li {
  margin-right: 25px;
  display: flex;
  align-items: center;
}

.header-top-right {
  position: relative;
  width: 609px;
  height: 28px;
}
.header-contact {
  height: 28px;
  display: flex;
}
.header-contact ul {
  display: flex;
  list-style: none;
  height: 28px;
  margin-bottom: 0px;
  font-size: 15px;
}
.header-contact li {
  display: flex;
}
.header-contact li:first-child {
  padding-right: 30px;
  height: 28px;
}
.header-contact li:nth-child(2) {
  width: 1px;
  background-color: rgba(255, 255, 255, 0.168);
  height: 28px;
  margin-right: 30px;
}
.header-contact li:nth-child(3) {
  padding-right: 21px;
  height: 28px;
}
.header-contact li:nth-child(4) {
  width: 1px;
  background-color: rgba(255, 255, 255, 0.168);
  height: 28px;
  margin-right: 30px;
}

.header-contact i {
  color: rgb(218, 60, 34);
  padding-right: 10px;
  display: flex;
  align-items: center;
}
.header-contact a {
  background-color: transparent;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header-contact a:hover {
  color: rgb(218, 60, 34);
  transition: 0.7s;
}
.header-contact span {
  background-color: transparent;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .header-top {
    display: none;
  }
}
.navbar {
  width: 100%;
  height: 110px;
  display: flex;
}
.header-left {
  width: 290px;
  height: 110px;
  display: flex;
  align-items: center;
}
.navigation {
  width: 580px;
  position: relative;
}
.navigation ul {
  list-style: none;
  display: flex;
  margin: 0px;
}
.navli {
  height: 100px;
  padding: 33px 0px;
}
.dropdownmenu {
  width: 33%;
  position: absolute;
  cursor: pointer;
  top: 87px;
  left: -10px;
  display: flex;
  text-align: left;
  flex-direction: column;

  padding: 20px 10px;
  background-color: white;
  visibility: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.dropdownmenu2 {
  width: 36%;
  position: absolute;
  cursor: pointer;
  top: 87px;
  left: 190px;
  display: flex;
  text-align: left;
  flex-direction: column;

  padding: 20px 10px;
  background-color: white;
  visibility: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.dropdownmenu3 {
  width: 45%;
  position: absolute;
  cursor: pointer;
  top: 87px;
  left: 280px;
  display: flex;
  text-align: left;
  flex-direction: column;

  padding: 20px 10px;
  background-color: white;
  visibility: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.dropdownmenu4 {
  width: 45%;
  position: absolute;
  cursor: pointer;
  top: 87px;
  left: 365px;
  display: flex;
  text-align: left;
  flex-direction: column;

  padding: 20px 10px;
  background-color: white;
  visibility: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.dropdownmenu li:hover {
  color: #da3c22;
  margin-left: 10px;
  transition: 0.5s;
}
.home:hover .dropdownmenu {
  visibility: visible;
  animation: fadeInupdropd 0.7s;
  z-index: 10;
}
.dropdownmenu2 li:hover {
  color: #da3c22;
  margin-left: 10px;
  transition: 0.5s;
}
.shop:hover .dropdownmenu2 {
  visibility: visible;
  animation: fadeInupdropd 0.7s;
  z-index: 10;
}
.dropdownmenu3 li:hover {
  color: #da3c22;
  margin-left: 10px;
  transition: 0.5s;
}
.testimoniallink {
  color: #000000;
}
.pages:hover .dropdownmenu3 {
  visibility: visible;
  animation: fadeInupdropd 0.7s;
  z-index: 10;
}

.dropdownmenu4 li:hover {
  color: #da3c22;
  margin-left: 10px;
  transition: 0.5s;
}
.news:hover .dropdownmenu4 {
  visibility: visible;
  animation: fadeInupdropd 0.7s;
  z-index: 10;
}

@keyframes fadeInupdropd {
  0% {
    transform: translate(0px, 60px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

.outer {
  display: flex;
}
.header-middle {
  display: flex;
  align-items: center;
}
.navigation li {
  margin-right: 25px;
}
.navigation {
  display: flex;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}
.menu {
  background-color: #da3c22;
  color: white;
  width: 40px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

@media (max-width: 1200px) {
  .menu {
    visibility: visible;
  }
  .navigation {
    display: none;
  }
  .outer {
    display: flex;
    justify-content: space-between;
  }
}

.navcolor {
  background-color: transparent;
  color: rgb(12, 21, 41);
  text-decoration: none;
}

.home {
  color: rgb(218, 60, 34);
}
.navcolor:hover {
  color: rgb(218, 60, 34);
  text-decoration: none;
}
.home:hover {
  text-decoration: none;
  color: black;
}
.header-right {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.header-right ul {
  list-style: none;
}
.search {
  width: 290px;
  height: 85px;
  display: flex;
  position: absolute;
  top: 101.5px;
  right: 80px;
  background-color: black;
  padding: 20px;
  margin-bottom: 0px;
  z-index: 12;
  visibility: hidden;
}
.search-toggle {
  cursor: pointer;
}

.search li {
  height: 43px;
}
.search-box {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box a {
  color: rgb(12, 21, 41);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 20px;
}
#hr-search {
  width: 205px;
  height: 43px;
  padding: 0px 50px 0px 15px;
  border: 1px solid black;
  font-size: 13px;
  border-style: none;
}
#hr-s-btn {
  height: 45px;
  width: 45px;
  background-color: rgba(0, 0, 0, 0.95);
  border: none;
  color: white;
}
#hr-s-btn:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}

.form-group {
  display: flex;
  align-items: center;
}
.user-btn i {
  color: rgb(12, 21, 41);
}
.header-cart-btn i {
  color: rgb(12, 21, 41);
}
.header-cart-btn span {
  color: rgb(12, 21, 41);
}
.user-btn {
  margin-right: 20px;
}
.search-box {
  margin-right: 20px;
}
.header-cart-btn {
  position: relative;
}
.header-cart-btn span {
  position: absolute;
  bottom: 90%;
  left: 90%;
  border-radius: 50%;
  background-color: #da3c22;
  width: 20px;
  color: white;
  height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box:hover .search {
  visibility: visible;
  transition: 1s;
  animation: fadeIndown 1s ease backwards;
  display: block;
}
@media (max-width: 768px) {
  .header-right {
    display: none;
  }
}

@keyframes fadeIndown {
  0% {
    transform: translate(0px, -50px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}
@keyframes fadeIndown2 {
  0% {
    transform: translate(0px, -100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}
@keyframes fadeInup {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
.breadcrumb-area {
  position: relative;
  display: block;
  overflow: hidden;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0 146px;
  height: 397px;
  z-index: 9;
  background-image: url("http://mehedi.asiandevelopers.com/corvex/assets/images/breadcrumb/breadcrumb-1.jpg");
}
.breadcrumb-area:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000000;
  opacity: 0.6;
  content: "";
  z-index: -1;
}
.breadcrumbtitle {
  position: relative;
  display: block;
  overflow: hidden;
  animation: fadeIndown 1s ease;
}
.breadcrumbtitle h2 {
  color: #ffffff;
  font-size: 40px;
  line-height: 1.3em;
  font-weight: 800;
  text-transform: capitalize;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  border: none;
}

.breadcrumbmenu ul {
  display: flex;
  list-style: none;
}
.breadcrumbmenu {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInupbread 1s ease;
}
.breadcrumbmenu ul li a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}
.breadcrumbmenu ul li a:hover {
  color: #da3c22;
  transition: 0.3s;
  cursor: pointer;
}
.breadcrumbmenu ul:last-child {
  color: #da3c22;
  font-size: 20px;
  font-weight: 400;
}
.breadcrumbmenu ul li i {
  color: white;
  padding: 0px 10px;
}
@keyframes fadeInupbread {
  0% {
    transform: translate(0px, 50px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
.about-area {
  position: relative;
  display: block;
  background: #fbf3f1;
  padding-top: 150px;
  padding-bottom: 150px;
}

.styletext h2 {
  font-family: "League Spartan", sans-serif;
  font-size: 53px;
  font-weight: 800;
  line-height: 52px;
  color: rgb(12, 21, 41);
  margin-bottom: 30px;
}
.styletext p {
  color: rgb(128, 128, 128);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 28px;
}
.styletext button {
  background-color: rgb(218, 60, 34);
  color: rgb(255, 255, 255);
  font-size: 17px;
  padding: 0px 40px;
  width: 181px;
  height: 60px;
  line-height: 60px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  border: none;
}
.subtitle {
  width: 100%;
  display: flex;
  align-items: center;
  height: 54px;
  padding-bottom: 26px;
}

.subtitle h4 {
  color: #da3c22;
  font-size: 18px;
  letter-spacing: 4.8px;
  line-height: 28px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  margin: 0px;
}
.subtitle span {
  background-color: #da3c22;
  width: 25px;
  height: 2px;
  margin-left: 15px;
}
.about-area-image .shape1 {
  position: absolute;
  top: -20px;
  right: -70px;
  opacity: 0.2;
}
.about-area-image {
  position: relative;
  display: block;
  max-width: 510px;
  width: 100%;
  float: right;
}
.about-area-image .shape2 {
  position: absolute;
  bottom: 50px;
  right: -20px;
  opacity: 0.3;
}
.about-area-image .main-image {
  position: relative;
  display: block;
  padding-left: 57px;
}
.inner-about {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-about img {
  width: 100%;
}
.innerover-about {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.2;
  border-radius: 50%;
}
.about-area-image:hover .innerover-about {
  position: absolute;
  z-index: 5;
  animation: pulse ease 0.5s;
}

@keyframes pulse {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1.1);
  }
}
.about-area-image .overlay-content-box {
  position: absolute;
  left: -33px;
  bottom: -33px;
  width: 190px;
  height: 190px;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
  padding: 57px 38px;
  box-shadow: 0px 40px 90px 0px rgb(12 21 41 / 10%);
}
.about-area-image.overlay-content-box h2 {
  color: #222222;
  font-size: 40px;
  line-height: 50px;
  font-weight: 800;
  margin: 0 0 4px;
}
.about-area-image .overlay-content-box h6 {
  color: #222222;
  font-size: 15px;
  line-height: 25px;
  font-weight: 800;
}

.shape1 {
  animation: wave 5s infinite ease;
}
.shape2 {
  animation: zoomInOut 5s infinite ease;
}
@keyframes wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes zoomInOut {
  0% {
    transform: rotate(0deg) scale(0.7);
    transform: rotate(0deg) scale(0.7);
    opacity: 0;
  }

  50% {
    transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: rotate(360deg) scale(0.7);
    transform: rotate(360deg) scale(0.7);
    opacity: 0;
  }
}
@media (max-width: 767px) {
  .about-area-image .overlay-content-box {
    left: 0;
    bottom: 0;
  }
  .main-image {
    margin-top: 50px;
  }
  .about-area-image {
    overflow: hidden;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .about-area-image {
    max-width: 510px;
    float: none;
    margin-top: 50px;
  }
}
.video-area {
  width: 100%;
  height: 550px;
}
.layer-outer {
  height: 450px;
  background-image: url("http://mehedi.asiandevelopers.com/corvex/assets/images/shape/shape-bg-2.png");
}
.holder-box {
  width: 100%;
  height: 550px;
  position: relative;
  z-index: 1;
}
.video-holder-box {
  width: 100%;
  height: 550px;
  background-image: url("http://mehedi.asiandevelopers.com/corvex/assets/images/resources/video-gallery-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.play-button-shape {
  width: 130px;
  height: 130px;
  background-color: #da3c22;
  border-radius: 50%;
  opacity: 0.7;
  z-index: 9;
  position: absolute;
}
.play-button-shape-inside {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #da3c22;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-popup i {
  color: white;
}
.play-button-shape-outside {
  position: absolute;
  height: 150px;
  width: 150px;
  opacity: 0;
  transform: scale(0, 0);
  background-color: white;
  border-radius: 50%;
}
.video-holder-box:hover .outs {
  transform: scale(1.2, 1.2);
  opacity: 0.3;
  transition: ease 2s;
}

.shape10 {
  position: absolute;
  z-index: -1;
  right: 5%;
  bottom: -3%;
  opacity: 0.35;
  animation: updownshape10 infinite 2s ease;
}
@keyframes updownshape10 {
  0% {
    position: absolute;
    bottom: -3%;
  }
  50% {
    position: absolute;
    bottom: -1%;
  }
  100% {
    position: absolute;
    bottom: -3%;
  }
}
.featuresection1 {
  width: 100%;
  height: 925px;
  padding-top: 150px;
  padding-bottom: 100px;
}
@media (max-width: 1000px) {
  .featuresection1 {
    height: 1750px;
  }
}
.textsection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  padding-bottom: 26px;
}
.sub-title h4 {
  color: #da3c22;
  font-size: 18px;
  letter-spacing: 4.8px;
  line-height: 28px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  margin: 0px;
}
.sleft {
  background-color: #da3c22;
  width: 20px;
  height: 2px;
  margin-right: 20px;
}
.sright {
  background-color: #da3c22;
  width: 20px;
  height: 2px;
  margin-left: 20px;
}
.textsection h2 {
  font-family: "League Spartan", sans-serif;
  font-size: 53px;
  font-weight: 800;
  line-height: 52px;
  color: rgb(12, 21, 41);
  text-align: center;
}
.textsection p {
  color: rgb(128, 128, 128);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.textcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.turndiv {
  height: 356px;
  padding: 0px 30px;
  margin-bottom: 42px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.iconholder {
  padding: 3px;
  width: 180px;
  margin-bottom: 35px;
  margin-left: 40px;
  margin-right: 40px;
  height: 182px;
  position: relative;
}
.dotted-box {
  position: absolute;
  width: 180px;
  height: 180px;
  border: 2px solid #da3c22;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  background-color: transparent;
}

.inner {
  width: 180px;
  height: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  overflow: hidden;
}
.inner span i {
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner i {
  color: #da3c22;
}

.dbcircle-1 {
  width: 32px;
  height: 32px;
  background-color: #da3c22;
  border-radius: 50%;
  border: 3px white solid;
  position: absolute;
  left: 70px;
  top: -18px;
}
.dbcircle-2 {
  width: 32px;
  height: 32px;
  background-color: #da3c22;
  border-radius: 50%;
  border: 3px white solid;
  position: absolute;
  left: 70px;
  bottom: -18px;
}

@keyframes circlearound {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.dotted-box:hover {
  animation: circlearound 3s infinite ease;
  animation-play-state: running;
  transition: linear;
  box-shadow: black;
}

.innerover {
  position: absolute;
  top: 2px;
  width: 180px;
  height: 180px;
  background-color: #da3c22;
  z-index: -5;
  border-radius: 50%;
  visibility: hidden;
}
@keyframes grow {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
.iconholder:hover .innerover {
  animation: grow 1s ease;
  visibility: visible;
}
.iconholder:hover .inner i {
  color: white;
}

.textholder {
  text-align: center;
}
.textholder h3 {
  font-size: 32px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 22px;
  color: rgb(12, 21, 41);
}
.textholder p {
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(128, 128, 128);
  font-family: "Rubik", sans-serif;
}
.meat {
  width: 74px;
  height: 74px;
}
.team-area {
  height: 967px;
  padding-top: 150px;
  padding-bottom: 100px;
  margin-top: 10px;
}
.title-holder {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 9;
  border-radius: 50%;
  overflow: hidden;
}
.teaminner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.teaminner img {
  width: 100%;
  border-radius: 50%;
}

.social-icon {
  position: absolute;
}
.single-team-item:hover .social-icon li {
  opacity: 1;
  z-index: 10;
  transition: 1s;
}
.social-icon li {
  opacity: 0;
}
.social-icon ul {
  display: flex;
  list-style: none;
}

.blackoverlay {
  width: 100%;
  height: 0;
  background-color: black;
  opacity: 0;
  bottom: 0;
  left: 0;
  transition: 1s;
  z-index: 0;
  position: absolute;
}

.single-team-item:hover .blackoverlay {
  opacity: 0.6;
  height: 100%;
}
.social-icon li {
  margin-right: 10px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
}

.shape17 {
  position: absolute;
  top: -20px;
  left: -10px;
  opacity: 0.4;
  animation: updownshape17 3s infinite ease;
}
@keyframes updownshape17 {
  0% {
    position: absolute;
    top: -20px;
  }
  50% {
    position: absolute;
    top: -30px;
  }
  100% {
    position: absolute;
    top: -20px;
  }
}
@media (max-width: 1200px) {
  .slogan-content-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1000px) {
  .single-team-item {
    margin-top: 50px;
  }
  .team-area {
    height: 3200px;
  }
}
@media (max-width: 768px) {
  .team-area {
    height: 2600px;
  }
}
@media (max-width: 500px) {
  .team-area {
    height: 2200px;
  }
}
.counter-area {
  height: 211px;
  width: 100%;
  background-color: #0c1529;
}
.fact-counter-box {
  display: flex;
  list-style: none;
}
.fact-counter {
  width: 100%;
  height: 211px;
  display: flex;
  align-items: center;
}
.fact-counter-box li {
  width: 25%;
  text-align: center;
}
.fact-counter-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.fact-counter-box li h2 {
  color: #da3c22;
  font-family: "League Spartan", sans-serif;
  font-size: 48px;
  font-weight: 800;
}
.fact-counter-box li i {
  color: #da3c22;
  font-family: "League Spartan", sans-serif;
  font-size: 48px;
  font-weight: 800;
}
.fact-counter-box h5 {
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.testimonial-area {
  width: 100%;
  padding: 125px 0px;
}
.testimonial-area .overlay-content-box-testimonial {
  position: absolute;
  right: -33px;
  bottom: -33px;
  width: 190px;
  height: 190px;
  background-color: #da3c22;
  border-radius: 50%;
  text-align: center;
  padding: 57px 38px;
  box-shadow: 0px 40px 90px 0px rgb(12 21 41 / 10%);
}
.main-image-teslimonial {
  position: relative;
  display: block;
  padding-right: 57px;
}
.testimonial-text {
  padding-left: 50px;
}
.about-area-image .shape1-teslimonial {
  position: absolute;
  top: -20px;
  left: -70px;
  opacity: 0.2;
}
.shape1-teslimonial {
  animation: wave 5s infinite ease;
}
.subtitlets {
  width: 100%;
  display: flex;
  align-items: center;
  height: 54px;
  padding-bottom: 26px;
}

.subtitlets h4 {
  color: #da3c22;
  font-size: 18px;
  letter-spacing: 4.8px;
  line-height: 28px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  margin: 0px;
}
.subtitlets span {
  background-color: #da3c22;
  width: 25px;
  height: 2px;
  margin-left: 15px;
}
.sectitle h2 {
  font-family: "League Spartan", sans-serif;
  font-size: 53px;
  font-weight: 800;
  line-height: 52px;
  color: rgb(12, 21, 41);
  margin-bottom: 30px;
}
.inner-content {
  width: 100%;
  padding-left: 60px;
  padding-top: 90px;
}
.tes-text-box p {
  color: #2d2929;
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}
.tes-client-info {
  display: flex;
  align-items: center;
}
.tes-client-info img {
  width: 55px;
  height: 55px;
}
.title-box {
  padding-left: 15px;
}
.shape16 {
  position: absolute;
  z-index: -10;
  bottom: 20%;
  left: -10%;
  opacity: 0.3;
  animation: infinite 5s updownshape16;
}
@keyframes updownshape16 {
  0% {
    position: absolute;
    bottom: 20%;
  }
  50% {
    position: absolute;
    bottom: 23%;
  }
  100% {
    position: absolute;
    bottom: 20%;
  }
}
.overlay-content-box-testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-content-box-testimonial i {
  color: white;
}
@media (max-width: 767px) {
  .testimonial-text {
    width: 100%;
    padding: 0;
    margin-top: 50px;
  }
  .inner-content {
    padding: 0;
  }
}
.footer-bg {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  background-attachment: scroll;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  background-image: url("http://mehedi.asiandevelopers.com/corvex/assets/images/shape/footer-bg-shape.png");
}

.footer-area {
  position: relative;
  padding: 0px 0px 0px;
  z-index: 1;
}

.footer {
  position: relative;
  padding: 245px 0 100px;
  z-index: 1;
  height: 710px;
}
@media (max-width: 1000px) {
  .footer {
    height: 1062px;
  }
}
@media (max-width: 768px) {
  .footer {
    height: 1377px;
  }
}
.footershape1 {
  position: absolute;
  top: 175px;
  left: 100px;
  opacity: 0.15;
  animation: grow2 infinite 5s ease;
}
.footershape2 {
  position: absolute;
  left: 0;
  bottom: -35px;
  opacity: 0.15;
  right: 0;
  text-align: center;
  animation: updownfooter infinite 3s ease;
}
.footershape3 {
  position: absolute;
  top: 170px;
  right: 55px;
  opacity: 0.15;
  animation: wave2 infinite 10s ease;
}

@keyframes wave2 {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes grow2 {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes updownfooter {
  0% {
    position: absolute;
    bottom: -35px;
  }
  50% {
    position: absolute;
    bottom: -30px;
  }
  100% {
    position: absolute;
    bottom: -35px;
  }
}
.single-footer-widget {
  position: relative;
  overflow: hidden;
}
.our-company-info .text-box {
  position: relative;
  padding-top: 26px;
  margin-bottom: 22px;
}
.text-box p {
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
.footer-contact-info ul li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
}
.footer-contact-info ul li .icon {
  position: absolute;
  top: 3px;
  left: 0;
}
.footer-contact-info li i {
  position: relative;
  top: 5px;
  font-size: 22px;
  color: #da3c22;
}
.footer-contact-info .text p {
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  border: none;
}

.footer-contact-info .text a {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 28px;
}
.single-footer-widget .title {
  margin-top: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 80px;
}
.single-footer-widget .title h2 {
  color: #ffffff;
  font-size: 25px;
  line-height: 28.6px;
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  text-transform: capitalize;
}
.footer-widget-links1 li {
  position: relative;
  display: block;
  margin-bottom: 14px;
}
.footer-widget-links1 li a {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  transition: all 500ms ease;
  line-height: 22px;
}
.top-selling-product {
  position: relative;
  display: block;
  margin-top: 7px;
}
.top-selling-product li .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
}
.img-box img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.top-selling-product li {
  position: relative;
  display: block;
  padding-left: 80px;
  min-height: 80px;
  margin-bottom: 20px;
}
.top-selling-product li .title-box {
  position: relative;
  display: block;
  padding-left: 18px;
}
.top-selling-product li .title-box h5 {
  position: relative;
  top: -4px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
.top-selling-product li .title-box h5 a {
  color: #ffffff;
}
.top-selling-product li .title-box .review-box {
  position: relative;
  display: block;
  margin-top: 3px;
  margin-bottom: 7px;
}
.top-selling-product li .title-box .review-box a {
  color: #fbb419;
  font-size: 14px;
}
.top-selling-product li .title-box .rate-box p {
  color: #ffffff;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}
.top-selling-product li .title-box .rate-box p del {
  color: #ffffff;
  opacity: 0.7;
}
.footer-subscribe-box {
  position: relative;
  display: block;
  background: #0c1529;
  padding-bottom: 100px;
  height: 225px;
}
.subscribe-content-box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.05);
  padding: 30px 30px 30px;
}

.subscribe-content-box .subscribe-title h3 {
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;
  font-weight: 800;
  padding: 12px 0 13px;
}
.subscribe-form {
  position: relative;
  display: block;
  width: 100%;
}
.subscribe-box {
  position: relative;
  display: block;
  max-width: 560px;
  width: 100%;
}
.subscribe-form input[type="email"] {
  position: relative;
  display: block;
  max-width: 320px;
  width: 100%;
  height: 55px;
  background: transparent;
  border: 0px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  font-family: "Rubik", sans-serif;
}

.subscribe-form button {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #da3c22;
  line-height: 55px;
  padding-left: 45px;
  padding-right: 45px;
  display: inline-block;
  color: #ffffff;
  border: none;
  font-size: 17px;
  line-height: 60px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 0px;
}
.footer-bottom {
  position: relative;
  display: block;
  background: #091020;
  padding: 25px 0;
  height: 90px;
}
.footer-bottom .outer-box-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.copyright-text p {
  color: #ffffff;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
.copyright-text a {
  color: #da3c22;
}
.copyright-text a:hover {
  color: white;
  transition: 0.3s;
}

.footer-social-link ul li {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
.footer-social-link ul li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  color: #ffffff;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  z-index: 1;
}
.footer-menu-style1 ul li {
  position: relative;
  display: inline-block;
  padding-right: 16px;
  margin-right: 15px;
}
.footer-menu-style1 ul li a {
  color: #ffffff;
  font-size: 16px;
}
.footer-menu-style1 ul a:hover {
  color: #da3c22;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .footer-bottom {
    height: 1377px;
  }
}
@media (max-width: 991px) {
  .outer-box-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-bottom {
    height: 172px;
  }
}
